{
    "CLIENT_ID":"MWJmNGEyNmEtZTcyMC00MDZiLWIzM2ItZTBkZjQ5YmNhZTJj",
    "CLIENT_SECRET": "MWMxNWRkZTYtMDkzYS00Y2ZmLTg5NGQtYjgxYmZlMDk2NTcx",
    "SESSION_SECRET": "PASSWORD_FOR_COOKIE",
    "AUTHORIZE_URL": "https://dash.by/api/auth/authorize",
    "REDIRECT_URI": "https://fastfuel.binupanicker.com/authorize",
    "ACCESS_TOKEN_URL": "https://dash.by/api/auth/token",
    "SCOPES": "user trips"
}
